{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat"
brew "exa"
brew "fzf"
brew "ripgrep"
brew "neovim"
brew "zoxide"
brew "git-delta"
brew "jesseduffield/lazygit/lazygit"
EOF
{{ end -}}
