{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{ $packages := list
     "bat"
     "git"
     "ripgrep"
     "zip"
     "unzip" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{- $pkgmgr := "" }}
{{if eq .chezmoi.osRelease.id "ubuntu" -}}
{{  $pkgmgr = "apt" }}
{{  $sudo }}{{$pkgmgr }} update
{{else if eq .chezmoi.osRelease.id "fedora" -}}
{{  $pkgmgr = "dnf" }}
{{ end -}}

{{ $sudo }}{{$pkgmgr }} install -y {{ $packages | join " " }}

#neovim
sudo apt-get install ninja-build gettext cmake unzip curl
git clone https://github.com/neovim/neovim
cd neovim && git checkout stable && make CMAKE_BUILD_TYPE=RelWithDebInfo
cd build && cpack -G DEB && sudo dpkg -i --force-overwrite nvim-linux64.deb

#exa
curl -Lo exa.zip "https://github.com/ogham/exa/releases/download/v0.10.0/exa-linux-x86_64-v0.10.0.zip"
sudo unzip -q exa.zip bin/exa -d /usr/local
rm -rf exa.zip

#zoxide
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

#fzf
 git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
 ~/.fzf/install

TEMP_DEB="$(mktemp)" &&
wget -O "$TEMP_DEB" 'https://github.com/dandavison/delta/releases/download/0.16.5/git-delta-musl_0.16.5_amd64.deb' &&
sudo dpkg -i "$TEMP_DEB"
rm -f "$TEMP_DEB"

LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit /usr/local/bin

#tpm (tmux plugins)
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins

#nvm
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.4/install.sh | bash
{{ end -}}
